<!--Footer-->
<footer class="p-4 bg-gray-100 rounded-t-2xl md:px-6 md:py-8">
	<div class="sm:flex sm:items-center sm:justify-between">
			<ul class="list-none flex flex-wrap justify-center md:justify-end mb-6 sm:mb-0">
				<li>
					<a href="/src/about.html" class="no-underline mr-4 text-sm text-gray-500 hover:underline md:mr-6">About</a>
				</li>
				<li>
					<a href="/about/#contact" class="no-underline mr-4 text-sm text-gray-500 hover:underline md:mr-6">Contact</a>
				</li>
        <li>
					<a href="/activities/#impact" class="no-underline text-sm text-gray-500 hover:underline">Impact</a>
				</li>
			</ul>
      <!-- social media links & logos -->
	</div>
  <ul class="list-none flex flex-row justify-center sm:justify-end gap-x-4">
    <!-- Instagram -->
    <!-- <li class="w-7">
      <a href="https://instagram.com/unpadstreetfeeding" target="_blank" rel="noopener noreferrer">
        <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" viewBox="0 0 24 24"><path fill="#6b6b6b" d="M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4zm9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3"/></svg>    
      </a>
    </li> -->
    <!-- Facebook -->
    <li class="w-7"> 
      <a href="https://www.facebook.com/unpadstreetfeeding" target="_blank">
        <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" viewBox="0 0 24 24"><path fill="#6b6b6b" d="M22 12c0-5.52-4.48-10-10-10S2 6.48 2 12c0 4.84 3.44 8.87 8 9.8V15H8v-3h2V9.5C10 7.57 11.57 6 13.5 6H16v3h-2c-.55 0-1 .45-1 1v2h3v3h-3v6.95c5.05-.5 9-4.76 9-9.95"/></svg>
      </a>

    </li>
    <!-- Github -->
    <li class="w-7">
      <a href="https://github.com/unpadforstrays" target="_blank" rel="noopener noreferrer">
        <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" viewBox="0 0 24 24"><path fill="#6b6b6b" d="M12 2A10 10 0 0 0 2 12c0 4.42 2.87 8.17 6.84 9.5c.5.08.66-.23.66-.5v-1.69c-2.77.6-3.36-1.34-3.36-1.34c-.46-1.16-1.11-1.47-1.11-1.47c-.91-.62.07-.6.07-.6c1 .07 1.53 1.03 1.53 1.03c.87 1.52 2.34 1.07 2.91.83c.09-.65.35-1.09.63-1.34c-2.22-.25-4.55-1.11-4.55-4.92c0-1.11.38-2 1.03-2.71c-.1-.25-.45-1.29.1-2.64c0 0 .84-.27 2.75 1.02c.79-.22 1.65-.33 2.5-.33s1.71.11 2.5.33c1.91-1.29 2.75-1.02 2.75-1.02c.55 1.35.2 2.39.1 2.64c.65.71 1.03 1.6 1.03 2.71c0 3.82-2.34 4.66-4.57 4.91c.36.31.69.92.69 1.85V21c0 .27.16.59.67.5C19.14 20.16 22 16.42 22 12A10 10 0 0 0 12 2"/></svg>
      </a>
      
    </li>
    <!--LinkedIn-->
    <li class="w-7">
      <a href="http://" target="_blank" >
        <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" viewBox="0 0 24 24">
          <path fill="#787878" d="M19 3a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2zm-.5 15.5v-5.3a3.26 3.26 0 0 0-3.26-3.26c-.85 0-1.84.52-2.32 1.3v-1.11h-2.79v8.37h2.79v-4.93c0-.77.62-1.4 1.39-1.4a1.4 1.4 0 0 1 1.4 1.4v4.93zM6.88 8.56a1.68 1.68 0 0 0 1.68-1.68c0-.93-.75-1.69-1.68-1.69a1.69 1.69 0 0 0-1.69 1.69c0 .93.76 1.68 1.69 1.68m1.39 9.94v-8.37H5.5v8.37z" />
        </svg>
      </a>
    </li>
  </ul>
		<hr class="my-6 border-gray-200 sm:mx-auto lg:my-8" />
		<span class="block text-sm text-gray-500 sm:text-center ">© 2024 Peduli Hewan Jalanan Unpad<br><br> This site is created by <a href="https://github.com/sukaikan"><u>@sukaikan</u></a> and <a href="http://github.com/unpadforstrays" target="_blank" rel="noopener noreferrer">Research</a> Unit</span> <br>
    <p class="text-xs sm:text-center">Made with Eleventy and TailwindCSS. Inspired from <a href="https://m3.material.io/" target="_blank" rel="noopener noreferrer">Material M3</a></p>   
</footer>