---
title: We Can't Find It!
layout: 'base.njk'
---

<body class="bg-gray-100 dark:bg-stone-800">
<!--Navbar-->

<!--404-->
<div class="flex flex-row justify-center text-center my-44">
    <h1 class="font-prsans font-medium dark:text-white text-9xl">404</h1> <span class="dark:text-white my-auto ml-10 text-6xl">|</span>
    <h5 class="font-bold pl-10 my-auto dark:text-white">We couldn't find the page you are looking for.</h5>

</div>
<!-- End 404 -->

</body>
