---
title: About UnpadSF
layout: 'base.njk'
---


<body class="bg-gray-100 dark:bg-stone-800">
<!--Navbar-->

<!--Judul-->
<div class="mx-auto ">
	<h2 class="font-prsans text-center mt-8 font-bold md:text-3xl text-3xl pb-1 dark:text-white">About Us</h2>
	<div class="text-center mx-auto">
	<span class="inline-block w-32 h-1 bg-amber-500 rounded-full"></span>
	</div>
</div>

<!--Article-->
<div class="bg-gray-100 dark:bg-stone-800 max-w-3xl px-4 pt-6 lg:pt-10 pb-12 sm:px-6 lg:px-8 mx-auto">
    <div class="max-w-2xl dark:bg-stone-800">

      <!-- Content -->
      <div class="space-y-5 md:space-y-8 dark:bg-stone-800">
        <div class="space-y-3">

          <p class="text-lg text-gray-800 dark:text-gray-200">Universitas Padjadjaran Street Feeding Animal Friend (UnpadSF) is a charity initiative founded by senior students of <strong> Faculty of Medicine and Faculty of Mathematics and Natural Sciences</strong> in 2021 for homeless community cats & dogs and promoting responsible pet ownership among students. <br><br> 
		  UnpadSF aims to:</p>
        </div>

		<ul class="list-disc list-outside space-y-2 pl-5 text-lg text-gray-800 dark:text-gray-200">
			<li class="pl-2">Provide humane care for stray cats and dogs, ensuring a healthy environment.</li>
			<li class="pl-2">Implement a Trap-Neuter-Return-Maintain (TNRM) program for population control.</li>
			<li class="pl-2">Educate the community about the role of free roaming cats and dogs in the ecosystem.</li>
		</ul>
  
        <p class="text-lg text-gray-800 dark:text-gray-200">
		UnpadSF activities range from stray animal feeding, vaccination, rescues, Trap-Neuter-Return program, campaign, cat adoption programs & developing reflective collar as a product to promote pet safety. <br> <br>
		We're proud to be a part of creating a more compassionate culture and to continue building a better world for both human & animals.
		</p>
  
        <figure>
          <img class="w-full object-cover rounded-xl" src="https://s6.imgcdn.dev/9pvdw.png" alt="Aktivitas tim UnpadSF, Theresia Melanie, Aidil Zaid, Mettika Settha Kurniawan">
          <figcaption class="mt-3 text-sm text-center text-gray-500">
            Team's Activities
          </figcaption>
        </figure>
  
        <p class="text-lg text-gray-800 dark:text-gray-200">UnpadSF is based in Universitas Padjadjaran Jatinangor campus, Sumedang, Indonesia. UnpadSF also promotes responsible pet cat & dog ownership and uses both English and Indonesian to reach a broader audience.</p>        
  
        <p class="text-lg text-gray-800 dark:text-gray-200">🇮🇩 : Unpad Street Feeding (UnpadSF) adalah perkumpulan yang didirikan pada tahun 2021 oleh sekelompok mahasiswa yang peduli terhadap hewan jalanan di kampus Universitas Padjadjaran. Kepedulian ini berbentuk pemberian pakan, obat, vitamin, sterilisasi, pengobatan & reflective collar. UnpadSF juga melakukan kampanye anti kekerasan hewan dan turut memberikan edukasi tentang kepemilikan hewan peliharaan yang bertanggung jawab untuk kalangan mahasiswa. UnpadSF hadir untuk mencapai tujuan berikut:</p>

		<ul class="list-disc list-outside space-y-5 pl-5 text-lg text-gray-800 dark:text-gray-200 pb-6">
			<li class="pl-2">Menyediakan perawatan dan lingkungan yang baik bagi kucing dan anjing jalanan;</li>
			<li class="pl-2">Mengimplementasikan strategi kontrol populasi kucing jalanan dengan melakukan Trap-Neuter-Return-Maintain (TNRM);</li>
			<li class="pl-2">Mengedukasi masyarakat kampus tentang kucing dan anjing jalanan.</li>
		</ul>


  
        
      </div>
      <!-- End Content -->
    </div>
</div>
<!-- End article -->
  



</body>
