---
title: Initiatives & Outreach
description: Student-run animal charity from Universitas Padjadjaran. Unpad Street Animal Friend initiatives are street animal feeding, TNR (steril kucing stray) and provide medications.
layout: 'base.njk'
---

    <!-- Hero -->
<div class="md:flex items-center justify-between mx-3 mt-20">
        <div class="flex flex-col gap-y-5">
          <h1 class="font-bold text-5xl md:text-7xl">Initiatives & Outreach</h1>
          <p class="max-w-96">The charity conducts its mission through two main sections of activities: core activities and outreach programs.</p>
        </div>
        <div class="mt-7">
          <img class="w-96 right-20" src="/img/activities.webp" alt="Unpad Street Animal Friend volunteers">
        </div>
  
</div>
      <!-- Activities List -->
<div class="mx-3 mt-10">
        <h1 class="font-semibold text-4xl text-gray-700">Core Activities</h1>
</div>
<div class="my-4 mx-2 grid grid-cols-2 md:grid-cols-4 place-items-center items-baseline">
        <div class=" rounded-3xl p-2 w-36 flex flex-col">
          <!-- <img class="rounded-2xl h-48 w-auto" src="https://s6.imgcdn.dev/FivBt.jpg"> -->
           <div class="bg-cover bg-center h-36 rounded-xl" style="background-image: url('https://s6.imgcdn.dev/FivBt.jpg');"></div>
          <details>
              <summary class="flex flex-col cursor-pointer items-center my-2">
                  <h1 class="text-base font-semibold text-center text-wrap my-1">Medical Care</h1>
                  <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 24 24">
                      <path fill="none" stroke="#6b6b6b" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="m17 10l-5 5l-5-5" />
                    </svg>
                  </div>
              </summary>
              <p class="text-xs mb-1 text-start min-h-10">We provide on-site medical care for street animals in need, monitoring health and weight, and foster care.</p>
          </details>
        </div>
  
        <div class=" rounded-3xl p-2 w-36 flex flex-col">
          <!-- <img class="rounded-2xl h-48 w-auto" src="https://s6.imgcdn.dev/FivBt.jpg"> -->
           <div class="bg-cover bg-center h-36 rounded-xl" style="background-image: url('https://s6.imgcdn.dev/mWCJM.th.jpg');"></div>
          <details>
              <summary class="flex flex-col cursor-pointer items-center my-2">
                  <h1 class="text-base font-semibold text-center text-wrap my-1">Nutrition & Dietary Supplementation</h1>
                  <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 24 24">
                      <path fill="none" stroke="#6b6b6b" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="m17 10l-5 5l-5-5" />
                    </svg>
                  </div>
              </summary>
              <p class="text-xs mb-1 text-start min-h-10">The charity provides additional nutrients to enhance their diet and address specific health needs. <br><br> The primary goal is to improve the overall health and well-being of stray animals. Additional supplements can help address deficiencies in essential vitamins, fish oil, and other nutrients.</p>
          </details>
        </div>
  
        <div class=" rounded-3xl p-2 w-36 flex flex-col">
           <div class="bg-cover bg-center h-36 rounded-xl" style="background-image: url('https://s6.imgcdn.dev/FiOl9.th.jpg');"></div>
          <details>
              <summary class="flex flex-col cursor-pointer items-center my-2">
                  <h1 class="text-base font-semibold text-center text-wrap my-1">(TNR) <br> Trap-Neuter-Return</h1>
                  <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 24 24">
                      <path fill="none" stroke="#6b6b6b" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="m17 10l-5 5l-5-5" />
                    </svg>
                  </div>
              </summary>
              <p class="text-xs mb-1 text-start min-h-10">TNR helps to stabilize the stray cats population in Universitas Padjadjaran.<br><br> We also found that TNR improves the overall health and behavior of stray cats. TNR also serve as a platform for educating the public about responsible pet ownership <br><br> The charity also aims to change the current narrative about TNR among Unpad community.</p>
          </details>
        </div>
  
        <div class=" rounded-3xl p-2 w-36 flex flex-col">
          <!-- <img class="rounded-2xl h-48 w-auto" src="https://s6.imgcdn.dev/FivBt.jpg"> -->
           <div class="bg-cover bg-center h-36 rounded-xl" style="background-image: url('https://s6.imgcdn.dev/9CoV2.th.jpg');"></div>
          <details>
              <summary class="flex flex-col cursor-pointer items-center my-2">
                  <h1 class="text-base font-semibold text-center text-wrap my-1">Safety Collar Program</h1>
                  <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 24 24">
                      <path fill="none" stroke="#6b6b6b" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="m17 10l-5 5l-5-5" />
                    </svg>
                  </div>
              </summary>
              <p class="text-xs mb-1 text-start min-h-10">These collars enhance the visibility of street animals in low-light conditions and thus, help reduce the risk of accidents in campus' streets.</p>
          </details>
        </div>
</div>
      <!-- Public Outreach -->
<div class="mx-3 my-6">
        <h1 class="my-5 font-semibold text-4xl text-gray-700">Public Outreach</h1>
        <p class="sm:w-1/2 text-base">In addition to these core activities, the charity also runs outreach programs designed to engage the community and promote responsible pet ownership.</p>
        <div>
          <ul class="text-base">
            <li>
              <p><strong>Pet Owner Support Group:</strong> Provide space for students to connect with others who share their love for their pet cat & dog; A space for advices, pet tips and find friends (2020/2021 Program).
              </p>
            </li>
            <li>
              <p><strong>Pet Carrier Loan:</strong> Free pet carrier loan service for students with lost or damaged carriers.</p>
            </li>
            <li>
              <p><strong>Cat Adoption Program & Services:</strong> Helps find loving homes for stray or previously owned cats.</p>
            </li>
            <li>
              <p><strong>Free Consultations: </strong> Free online consultation services by vet student volunteers to provide guidance for pet owners in need.</p>
            </li>
            <li>
              <p><strong>Lost Pet Services: </strong> Provides a free platform for owners to search for lost pets and report found animals across our network, increasing the chances of reunions.</p>
            </li>
            <li>
              <p><strong>FBMI Tool: </strong> <a href="https://github.com/unpadforstrays/fbmitool" target="_blank" rel="noopener noreferrer">Feline Body Mass Index Online Tool</a> is a useful tool for assessing a cat's weight in relation to their size and determining if they are underweight, overweight, or obese. Built using Svelte, This tool utilizes a modern approach to web application development.</p>
            </li>
          </ul>
        </div>
  
        <h1 class="my-5 font-semibold text-xl text-gray-700">Past Programs</h1>
        <ul class="text-sm">
          <li>Rabies Vaccination Event with Hima Kedokteran Hewan Unpad (2022)</li>
          <li>Feline Scabies-free Campus (July 2023 - January 2024)</li>
          <li>World Animal Day 2022 Event (October 2022)</li>
          <li>JAAN Animal Welfare Indonesia 1st Conference Poster Participant, Jakarta (2022)</li>
        </ul>
        <hr id="impact" class="my-6">
        <h1 class="font-bold text-5xl my-10">Impacts</h1>
        <ul>
          <li>
            <p><strong>Getting Campus' Street Animals Through COVID-19 Pandemic: </strong>Through emergency care, food supplies, and partnerships with university faculty and staff, the charity rallied to protect campus street animals during the COVID-19 pandemic (2020-2022). The charity also educated the campus community about street animal welfare.</p>
          </li>
          <li>
            <p><strong>Safety Collar Project Praised by Public: </strong>The Safety Collar Mark I and II programs were praised by Jatinangor residents of RW04 Ciseke for raising awareness about the importance of street safety at evening. These initiatives also generated substantial online buzz, with the program reposted by many, accumulating over 5,000 likes on Facebook, 7,100 likes and 1,400 reposts on Twitter, and thousands more on Instagram. In 2022, this initiative managed to collar 130 street cats and 5 street dogs.</p>
          </li>
          <li>
            <p><strong>100% Campus Cat TNR Live-Return Rate: </strong>Post-surgery care is crucial for the well-being of returned cats. The charity implemented a one-week monitoring program to ensure the safe and healthy recovery of returning campus cats. Since 2021, the charity successfully TNR'd over 40 campus cats, often involving PPDH veterinary students from RSHP Unpad and the help from local businesses (Cat Addict Home Pet Hotel Bandung). TNR efforts were conducted in the Dipatiukur campus, Tugu Kujang area, and Fapsi-FMIPA and FTIP faculties. The TNR initiative is yet to be evaluated.</p>
          </li>
          <li>
            <p><strong>Engages In Animal Abuse Cases: </strong> The charity actively addressed animal abuse cases involving a member of the Indonesian military in Bandung in 2022 by raising animal abuse awareness and speaking to the media. The mounting public attention led the Indonesian TNI to remove and sanction the personnel involved.</p>
          </li>
          <li>
            <p><strong>Featured By Prominent National Media Outlets: </strong> The charity and its initiatives have been featured by prominent national media outlets such as Tempo, Detik Network, iNews, and Media Indonesia for being an inspiration to the public; brings honor to the campus' name.</p>
          </li>
        </ul>
</div>