---
title: Peduli Hewan Jalanan Unpad
description: Student-run animal charity from Universitas Padjadjaran. Unpad Street Animal Friend initiatives are street animal feeding, TNR (steril kucing stray) and provide medications.
layout: 'base.njk'
---
    <!-- Bento grid -->
    <section class="mx-2 mt-16 md:mt-20 flex flex-col gap-y-3  md:grid md:grid-cols-12 md:grid-rows-8 md:gap-2">
        <div class="bg-cover bg-center h-60 sm:h-auto sm:col-span-8 sm:row-span-4 rounded-xl" style="background-image: url('https://images-tm.tempo.co/all/2023/02/10/823666/823666_1200.jpg')">
            <div class="flex items-center justify-center bg-gray-900/40 h-full rounded-xl">
                <h1 class="text-center font-bold leading-relaxed text-white text-2xl md:text-5xl">Championing the cause <br> of street animals</h1>
            </div>
        </div>
        
        <div class="my-4 md:my-0 md:bg-[#33ccff] col-span-4 row-span-3 rounded-xl col-start-9">
          <div class="">
            <h5 class=" text-xl sm:text-center text-black py-9 px-3 font-medium">
                Every day, street animals struggle to survive without shelter, food, or medical aid. <br>Often abused, they face unimaginable hardships.
            </h5>
          </div>
        </div>
        <!--We Do section & Roller text-->
        <div class="bg-[#fce354] col-span-4 row-span-5 col-start-9  row-start-4 rounded-xl">
          <div class="flex flex-col text-center justify-center my-8">
            <h1 class="font-bold text-3xl">We do: 
              <div class="roller mt-3 text-xl text-amber-700">
                <span id="rolltext">Food & Medical Aid<br/>
                Trap-Neuter-Return<br/>
                Safety Collar Program<br/>
                Research<br/>
                Responsible Pet Ownership<br/>
              </div> 
            </h1>
            <form action="/activities">
              <button class="bg-transparent text-sm rounded-full font-medium border-gray-900 border-2 py-1.5 mx-6 w-2/3 mt-10">our initiatives</button>
            </form>
            <!--Photo Row-->
            <div class="scrollbar mt-10 flex overflow-x-scroll md:inline-flex p-3 h-52 md:max-h-44">
              <div class="inline-flex flex-row gap-4">
                <img class="my-0 rounded-2xl" src="https://s6.imgcdn.dev/mWNkd.md.jpg" alt="volunteer activity" srcset="">
                <img class="my-0 rounded-2xl" src="https://s6.imgcdn.dev/9I5Bg.jpg" alt="Volunteer Aidil Zaid activity">
                <img class="my-0 rounded-2xl" src="https://s6.imgcdn.dev/9IiyK.jpg" alt="Volunteer Felicya activity">
                <img class="my-0 rounded-2xl" src="https://s6.imgcdn.dev/9QkCn.jpg" alt="">
                <img class="my-0 rounded-2xl" src="https://s6.imgcdn.dev/9VCF8.jpg" alt="">
                <img class="my-0 rounded-2xl" src="https://s6.imgcdn.dev/9RGky.jpg" alt="" srcset="">
                <img class="my-0 rounded-2xl" src="https://s6.imgcdn.dev/9IIfh.jpg" alt="">
                <img class="my-0 rounded-2xl" src="https://s6.imgcdn.dev/mW490.md.jpg" alt="">
                <img class="my-0 rounded-2xl" src="https://s6.imgcdn.dev/9InXO.jpg" alt="">
                <img class="my-0 rounded-2xl" src="https://s6.imgcdn.dev/9ICll.jpg" alt="" srcset="">
              </div>
            </div>
          </div>    
        </div>
        <!--Values-->
        <div class="col-span-4 row-span-4 rounded-xl row-start-5 bg-[#1ee592]">
          <div class="flex flex-col sm:gap-y-4 ml-3 pt-7">
            <h5 class="text-[2.8rem] font-bold md:text-5xl">Compassion</h5>
            <h5 class="text-[2.8rem] font-bold md:text-5xl">Resilience</h5>
            <h5 class="text-[2.8rem] font-bold md:text-5xl">Independent</h5>
          </div>
          <div class="px-3 py-2 sm:mt-32 text-right">
            <button type="button" class="w-auto px-5 h-8 text-center text-xs bg-transparent border-2 border-gray-900 font-medium rounded-full">our values →</button>
          </div>
        </div>
        <!--Featured Media-->
        <div class="bg-[#f2f4f7] py-5 col-span-4 row-span-2 col-start-5 rounded-xl row-start-7 sm:hover:scale-[1.3] transition">
          <div class="pb-8">
            <h1 class="text-base text-center text-gray-500">Featured in</h1>
          </div>
          <!-- Logo Cloud -->
          <div class="flex flex-wrap justify-center gap-y-3">
            <div class="w-1/3 px-2">
              <a href="https://www.detik.com/jabar/jabar-gaskeun/d-6238040/kalung-reflektif-upaya-unpadsf-cegah-kucing-tertabrak-di-jalan" target="_blank"><img class="rounded-none m-0" src="/img/detik.svg" alt="Detik Network" width="85"></a>
            </div>
            <div class="w-1/3 mb-1 px-2">
              <a href="https://edukasi.okezone.com/read/2022/08/19/65/2650461/mahasiswa-unpad-pasang-reflective-collar-ke-kucing-jalanan-untuk-cegah-potensi-kecelakaan" target="_blank" rel="noopener noreferrer"><img class="rounded-none m-0" src="/img/okezone.svg" alt="Okezone"></a>
            </div>
            <div class="w-1/3 mb-1 px-2">
             <a href="https://jabar.inews.id/berita/puluhan-kucing-di-jatinangor-dipasangi-reflektor-agar-terhindar-dari-kecelakaan/" target="_blank" rel="noopener noreferrer"><img class="rounded-none m-0" src="/img/inews.svg" alt="iNews" srcset=""></a> 
            </div>
            <div class="w-1/3 mb-1 px-2">
             <a href="https://s6.imgcdn.dev/vydW8.png?" target="_blank" rel="noopener noreferrer"><img class="rounded-none m-0" src="/img/mi.svg" alt="Media Indonesia" srcset=""></a> 
            </div>
            <div class="w-1/3 mt-2 px-2">
              <a href="https://www.tempo.co/tokoh/penyantun-kucing-sekitar-kampus--827848" target="_blank" rel="noopener noreferrer"><img class="rounded-none m-0" src="/img/tempo.png" alt="Tempo" width="110"></a>          
            </div>    
          </div>
    
        </div>
        <!--The Beauty of Volunteering-->
        <div class="bg-[#ff8f8f] col-span-4 row-span-2 col-start-5 rounded-xl row-start-5 sm:hover:scale-[1.3] transition">
          <div class="flex text-center justify-start my-4 sm:my-0 py-4 sm:py-10 ml-5">
            <img class="rounded-none m-0 w-[4rem] md:w-[4.7rem] h-auto" src="/img/volunteering.png" alt="Volunteering with Unpad Animal Friend">
            <div class="flex flex-col">
              <h1 class="font-medium text-lg text-left mt-3 sm:mt-0 ml-3 sm:text-xl">The Beauty of Volunteering</h1>
              <a class="no-underline rounded-full justify-start font-medium text-xs md:text-[12px] ml-2 mr-7 my-2 py-1.5 bg-transparent border-2 border-gray-800 " href='/about'>about the charity
              </a>
            </div>
          </div>      
        </div>    
    </section>
    
    <!-- section blog -->

    <section class="my-9 mx-2 md:mx-0 flex flex-col">
      <h1 class="text-2xl font-normal m-7">All the Latest</h1>
      <!-- Article card -->
       <div class="md:flex">
    {%- for post in collections.recentPosts -%}
      <div class="w-full flex gap-y-5">

        <div class="rounded-xl hover:border-2 border-gray-200 w-72 gap-x-2 mb-4 p-3 h-40 overflow-hidden">
          <!-- Tags Label & Date -->
        <div class="flex">
          <h1 class="text-gray-400 py-2 uppercase tracking-wider text-sm font-medium">{{ post.data.date | postDate }}</h1>
        </div>
        <a class="no-underline" href="{{post.url}}"><h1 class="font-medium text-xl">{{ post.data.title }}</h1></a>
        </div>

      </div>
    {%- endfor -%}
       </div>

      <!-- Read more button -->
       <a href="/posts" class="no-underline mx-auto my-7">see all articles →</a>
          
    </section>
    
    <!--Section Beli Reflective Collar-->
    <section class="my-9 mx-2 rounded-2xl border border-gray-300 border-opacity-55">
        <div class="p-6">
          <h1 class="text-2xl font-normal">Shop</h1>
          <!--Flex row utk info judul, deskripsi dan tombol-->
            <div class="flex flex-row flex-wrap gap-4 items-center justify-center md:justify-normal">
              <img class="rounded-3xl md:size-1/3 mt-5" src="/img/collar1.jpg" alt="Safety Collar Unpad Street Feeding Animal Friend">
              <div class="flex-col flex-wrap md:w-80">
                <h1 id="home-collar-title" class="pt-5 font-medium text-gray-800 text-5xl md:text-wrap md:leading-snug">Safety Collar Mark II</h1>
                <p id="home-collar-info" class="my-2 text-base text-gray-600">Get our all-time popular safety product. Pre-order now.</p>
              </div>
              <div class="flex flex-col gap-y-3 md:ml-10">
                <a id="home-collar-buy" class="flex justify-center items-center gap-1 text-center no-underline rounded-3xl bg-gray-950 text-white py-3 w-72 md:w-52" href='/shop' target="_blank"> Pre-order
                  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
                    <path fill="white" d="M7 22q-.825 0-1.412-.587T5 20t.588-1.412T7 18t1.413.588T9 20t-.587 1.413T7 22m10 0q-.825 0-1.412-.587T15 20t.588-1.412T17 18t1.413.588T19 20t-.587 1.413T17 22M5.2 4h14.75q.575 0 .875.513t.025 1.037l-3.55 6.4q-.275.5-.737.775T15.55 13H8.1L7 15h12v2H7q-1.125 0-1.7-.987t-.05-1.963L6.6 11.6L3 4H1V2h3.25z" />
                  </svg>
                </a>
                <a id="home-collar-learn" class="flex justify-center items-center gap-1 text-center no-underline border border-black rounded-3xl bg-transparent text-black py-2 w-72 md:w-52" href="/shop" target="_blank">Shop
                  <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 24 24">
                    <path fill="black" d="M6 22q-.825 0-1.412-.587T4 20V8q0-.825.588-1.412T6 6h2q0-1.65 1.175-2.825T12 2t2.825 1.175T16 6h2q.825 0 1.413.588T20 8v12q0 .825-.587 1.413T18 22zm4-16h4q0-.825-.587-1.412T12 4t-1.412.588T10 6m5 5q.425 0 .713-.288T16 10V8h-2v2q0 .425.288.713T15 11m-6 0q.425 0 .713-.288T10 10V8H8v2q0 .425.288.713T9 11" />
                  </svg>
                </a>
              </div>          
            </div>
        </div>
    </section>